* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

#top_banner {
    background-image: url(../img/topbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    line-height: 48px;
}

#top_banner h1 {
    font-size: 36px;
    padding-top: 40vh; 
}

.intro {
    padding-left: 15%; 
}

.intro a {
    text-decoration: none;
    font-size: 25px;
    border: 1px solid #ffffff;
    padding: 10px;
    color:#ffffff;
    transition: 0.8s ease;
}

.intro a:hover {
    background-color: #FFB833;
    border-radius: 20px;
    color: #030303;
    border: none;
    transition: 0.8s ease;
}

.my_name {
    color: #FFB833;
}

#navbar {
    background-color: #2C3E50;
    position: sticky;
    top: 0px;
    box-shadow: 0px 5px 5px #030303;
    width: 100%;
    height: 60px;
}

#navbar ul {
    display: inline;
    list-style: none;
    text-align: center;
    padding: 0px;
    margin-top: 20px;
    align-items: center;
}

#navbar ul li {
    display: inline;
    margin: 0px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;

}

#navbar ul li a {
    display: inline-block;
    width: 5%;
    margin-top: 20px;
    text-decoration: none;
    color: #FFB833;
    font-size: 20px;
    transition: 0.8s ease-in-out;
    
    
}

#navbar ul li a:hover {
    color: #030303;
    transition: 0.8s ease-in-out;
    transform: scale(1.2);
      
}

#services {
    display: block;
    text-align: center;
    align-items: center;
}


.service_headding {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.html_prog {
    display: inline-block;
    height: 100vh;
    width: 100%;

}


.html_prog h1 {
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 38px;
}

.html_prog p {
    text-align: left;
    margin-left: 50px;
    font-size: 32px;
}

.html_prog img {
    height: 80vh;
    float: right;
}

.css_prog {
    display: inline-block;
    height: 100vh;
    width: 100%;
    background-color: #EAECEE;
}
.css_prog h1 {
    text-align: right;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 38px;
}

.css_prog p {
    text-align: justify;
    margin-right: 50px;
    font-size: 32px;
    
}
.css_prog img {
    height: 80vh;
    float: left;
}


.js_prog {
    display: inline-block;
    height: 100vh;
    width: 100%;

}


.js_prog h1 {
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 38px;
}

.js_prog p {
    text-align: left;
    margin-left: 50px;
    font-size: 32px;
}

.js_prog img {
    height: 70vh;
    float: right;
}
.php_prog {
    display: inline-block;
    height: 100vh;
    width: 100%;
    background-color: #EAECEE;
}
.php_prog h1 {
    text-align: right;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 38px;
}

.php_prog p {
    text-align: justify;
    margin-right: 50px;
    font-size: 32px;
    
}
.php_prog img {
    height: 80vh;
    float: left;
}

.mysql_prog {
    display: inline-block;
    height: 100vh;
    width: 100%;

}


.mysql_prog h1 {
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 38px;
}

.mysql_prog p {
    text-align: left;
    margin-left: 50px;
    font-size: 32px;
}

.mysql_prog img {
    height: 70vh;
    float: right;
}
#projects {
    height: auto;
    width: 100%;
    background-color: #F2F4F4;   
}

.projkt {
    display: flex;
    flex-grow: 1;
    margin-top: 50px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;   
}

#projects h1 {
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
    
}

.websites {
    text-align: center;
    border: 2px solid #030300;
    height: 300px;
    width: 300px;
    padding: 140px 0px 0px 0px;
    border-radius: 50px;
    transition: 0.6s ease-in-out;
    margin: 20px;
    
}

.webapps {
    text-align: center;
    border: 2px solid #030300;
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 140px 0px 0px 0px;
    border-radius: 50px;
    transition: 0.6s ease-in-out;
    
}

.database {
    text-align: center;
    border: 2px solid #030300;
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 140px 0px 0px 0px;
    border-radius: 50px;
    transition: 0.6s ease-in-out;
    
}

.websites:hover, .webapps:hover, .database:hover {
    background-color: #808B96;
    color: #ffffff;
    transition: 0.6s ease-in-out;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

#contact {
    display: block;
    height: 100vh;
    background-color: #212F3D;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#contact h1 {
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
    color: #ffffff;
}

#stick_up a img {
    display: inline-flex;
    color: #ffffff;
    width: 50px;
    height: 50px;
    right: 0px;
    background-color: #AED6F1;
    transition: 0.9s ease-in-out;
    position: fixed;
    bottom: 130px;
}


#stick_up a img:hover {
    background-color: #ffffff;
    transition: 0.9s ease-in-out;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.c_form {
    padding: 20px;
    width: 100%;
    height: auto;
    
}

.c_form label {
    color: #ffffff;
}

.c_form input {
    width: 440px;
    height: 30px;
    border: none;
    background-color: #85929E;
    
}
.c_form textarea {
    width: 440px;
    resize: none;
    border: none;
    background-color: #85929E;
    
}

.c_form .btn {
    width: 150px;
    height: 50px;
    font-size: 16px;
    border-radius: 0px;
    border: none;
    transition: 0.9s ease-in-out;
}

.c_form .btn:hover {
    background-color: #02366B;
    color: #ffffff;
    cursor: pointer;
    transition: 0.9s ease-in-out;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 8px 1px #030300;
}

footer {
    background-color: #0303;
    left: 0;
    bottom: 0;
    height: 150px;
    width: 100%;
    text-align: center;
}

footer a {
    display: inline-flex;
    text-decoration: none;
    margin-top: 40px;
}

footer a img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.8s ease-in-out;
}

footer a img:hover {
    transform: scale(1.5);
    transition: 0.8s ease-in-out;
}

footer span {
    font-size: 20px;
    margin-top: 50px;
}

/* Mobile responsive media query*/

@media screen and (max-width: 758px){
    * {
        margin: 0;
    }

    body {
        display: block;
        
    }

    #top_banner {
       display: flex;
       position: relative; 
    }
    
    #top_banner h1 {
        font-size: 32px;
        
    }
    
    .intro {
        padding-left: 15%; 
    }
    
    .intro a {
        font-size: 20px;
        padding: 8px;
    }
    

    #navbar {
        display: inline-block;
        height: 200px;
        position: relative;
        
    }
    #navbar ul li a, #navbar:active ul li a {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 20px;
        text-align: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
       

    }
    

    .html_prog {
        display: block;
        position: relative;
        height: auto;
        width: 100%;
    }
    
    
    .html_prog h1 {
        text-align: center;
        font-size: 38px;
    }
    
    .html_prog p {
        text-align: left;
        font-size: 32px;
        margin-left: 0px;
    }
    
    .html_prog img {
        height: auto;
        width: 100%;
    }
    .css_prog {
        display: block;
        position: relative;
        height: auto;
        width: 100%;
    }
    
    
    .css_prog h1 {
        text-align: center;
        font-size: 38px;
    }
    
    .css_prog p {
        text-align: left;
        font-size: 32px;
        margin-right: 0px;
    }
    
    .css_prog img {
        height: auto;
        width: 100%;
    }
    .js_prog {
        display: block;
        position: relative;
        height: auto;
        width: 100%;
    }
    
    
    .js_prog h1 {
        text-align: center;
        font-size: 38px;
    }
    
    .js_prog p {
        text-align: left;
        font-size: 32px;
        margin-left: 0px;
    }
    
    .js_prog img {
        height: auto;
        width: 100%;
    }
    .php_prog {
        display: block;
        position: relative;
        height: auto;
        width: 100%;
    }
    
    
    .php_prog h1 {
        text-align: center;
        font-size: 38px;
    }
    
    .php_prog p {
        text-align: left;
        font-size: 32px;
        margin-right: 0px;
    }
    
    .php_prog img {
        height: auto;
        width: 100%;
    }
    .mysql_prog {
        display: block;
        position: relative;
        height: auto;
        width: 100%;
    }
    
    
    .mysql_prog h1 {
        text-align: center;
        font-size: 38px;
    }
    
    .mysql_prog p {
        text-align: left;
        font-size: 32px;
        margin-left: 0px;
    }
    
    .mysql_prog img {
        height: auto;
        width: 100%;
    }

    #projects {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        justify-content: center;
        margin: 0px;
        text-align: center;
        align-items: center;
        
    }

    .projkt {
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 10px;

        
    }

    .websites {
        display: block;
        position: relative;
        height: 160px;
        width: 160px;
        padding: 50px 0px 0px 0px;
        justify-content: center;
        align-items: center;
        
    }

    .webapps {
        display: block;
        position: relative;
        height: 160px;
        width: 160px;
        padding: 50px 0px 0px 0px;
        margin-left: 0px;
        align-items: center;
        justify-content: center;
        
    }

    .database {
        display: block;
        position: relative;
        height: 160px;
        width: 160px;
        padding: 50px 0px 0px 0px;
        margin-left: 0px;
        align-items: center;
        justify-content: center;
    }

    #contact a img {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
      
    }

    #contact {
        margin: 0px;
    }
    .c_form {
        display: block;
        position: relative;
        width: 100%;
        float: left;
        margin-left: 0%;
        
    }
    
    .c_form label {
        margin-left: 0%;
        display: block;
        position: relative;
    }
    
    .c_form input {
        width: 100%;
        height: 30px;
        margin-left: 0%;
        
    }
    .c_form textarea {
        display: block;
        position: relative;
        width: 100%;
        margin-left: 0%;
    }
    
    .c_form .btn {
        display: inline;
        width: 100px;
        height: 50px;
        font-size: 16px;
    }
   
}